/* ------- universal styling ------- */
* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to bottom, rgb(26, 15, 67),rgb(12, 6, 34));
  color: rgb(243, 246, 250);
  background-attachment: fixed;
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* ------- Navbar ------- */
nav {
  width: 15%;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(30, 16, 75);
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.nav-listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.home-listItem {
  margin-left: 38px;
  font-size: 22px;
}

.checkbox {
  display: none;
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 15px;
  background-color: rgba(244, 81, 127, 0.35);
  border-radius: 100%;
  border: 3px solid rgba(30, 16, 75, 0.5);
  cursor: pointer;
}

input:checked ~ .custom-checkbox {
  background-color: rgb(244, 81, 126);
  box-shadow: 1px -1px 2px rgba(244, 81, 127, 0.5),
    -4px 2px 2px rgba(244, 81, 127, 0.25);
}

a {
  text-decoration: none;
  color: rgb(243, 246, 250);
  cursor: pointer;
}

a:hover,
.sort-menu li:hover,
.sort-menu li i:hover {
  color: rgb(244, 81, 126);
}

/* ------- Main area styling ------- */

.main-content {
  width: 85%;
}

.page-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.middle-box {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* ------- SortMenu ------- */
.sort-menu-container {
  margin: 20px 20px 0px 0px;
  padding: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: rgb(30, 16, 75);
}

.sort-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.sort-menu li {
  margin: 0px 15px;
  cursor: pointer;
}

.sort-menu li i {
  margin: 0px 5px;
  cursor: pointer;
}

/* ------------- tooltip styling -------------- */
.tooltiptext {
  opacity: 0;
  transition: opacity 1s;
  font-size: 14px;
  width: 225px;
  text-align: left;
  background-color: rgb(42, 24, 108);
  border-radius: 8px;
  padding: 8px;
  line-height: 2em;
  position: absolute;
  z-index: 1;
  right: 3.5%;
  bottom: 11%;
}

.line-chart:hover .tooltiptext,
.bar-chart:hover .tooltiptext {
  opacity: 1;
}

/* ------------- bar chart -------------- */
.bar-chart {
  margin: 20px;
  margin-left: 0px;
  padding: 20px;
  border-radius: 15px;
  height: 400px;
  overflow: scroll;
  background-color: rgb(30, 16, 75);
}

/* ------------- bottom charts area -------------- */
.bottom-charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line chart */
.line-chart,
.table-container {
  background-color: rgb(30, 16, 75);
  margin: 0px 20px 20px 0px;
  padding: 20px;
  border-radius: 15px;
  height: 300px;
  overflow: scroll;
}

.line-chart {
  width: 55%;
}

/* table */
.table-container {
  width: 35%;
}

table {
  font-size: 14px;
  border-collapse: collapse;
}

thead {
  background-color: rgb(42, 24, 108);
}

thead th:nth-child(1) {
  border-radius: 15px 0px 0px 0px;
}

thead th:nth-child(4) {
  border-radius: 0px 15px 0px 0px;
}

th,
td {
  padding: 6px;
  text-align: left;
  width: 25%;
}

/* ------------- sidebar -------------- */
.sidebar {
  margin: 20px;
  width: 20%;
  margin-left: 0px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 16, 75);
}

/* avatar */
.avatar-container {
  margin: 15px 20px 20px 20px;
  width: 180px;
  height: 180px;
  background-color: rgb(42, 24, 108);
  border-radius: 100%;
  background-size: cover;
  background-position: 0px -190px;
  background-blend-mode: lighten;
  background-image: url(images/avatar_placeholder.png);
  box-shadow: 5px -5px 8px rgba(244, 81, 127, 0.5),
  -5px 5px 8px rgba(0, 204, 187, 0.5);
}

/* text info */
.student-info {
  margin-bottom: 20px;
  line-height: 2.5rem;
}

.student-info p {
  opacity: 0.75;
}

/* donut chart */
.sidebar-chart {
  width: 80%;
}

.custom-labels {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.custom-labels .fas {
  color:rgb(244, 81, 126);
  background-color: rgba(244, 81, 127, 0.3);
  border-radius: 100%;
  box-shadow: 2px -2px 8px rgba(244, 81, 127, 0.3),
  -2px 2px 8px rgba(244, 81, 127, 0.3);
}

.custom-labels .far {
  color: rgb(0, 204, 188);
  border-radius: 100%;
  background-color: rgba(0, 204, 187, 0.3);
  box-shadow: 2px -2px 8px rgba(0, 204, 187, 0.3),
  -2px 2px 8px rgba(0, 204, 187, 0.3);
}