* {
padding: 0px;
margin: 0px;
}

html {
  height: 100vh;
}

body {
 width: 100%;
 height: 100%;
 margin: 0;
 font-family: 'Noto Sans', sans-serif;
 background: linear-gradient(to bottom, rgb(26, 15, 67),rgb(12, 6, 34));
 /* background-color: rgb(26, 15, 67); */
 color: rgb(243, 246, 250);
 background-attachment: fixed;
 background-repeat: no-repeat;
}

.dashboard-container {
  display: flex;
}

nav {
  width: 15%;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(30, 16, 75);
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.student-list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.home-li {
  margin-left: 40px;
}

.checkbox {
  display: none;
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 15px;
  background-color: rgba(244, 81, 127, 0.35);
  border-radius: 100%;
  border:  3px ridge rgba(30, 16, 75, 0.5);
  cursor: pointer;
}

input:checked ~ .custom-checkbox {
  background-color: rgb(244, 81, 126);
  border:  3px ridge rgba(30, 16, 75, 0.5);
  box-shadow: 1px -1px 2px rgba(244, 81, 127, 0.5),
    -4px 2px 2px rgba(244, 81, 127, 0.25);
}

a {
  text-decoration: none;
  color: rgb(243, 246, 250);
  cursor: pointer;
}

.main-content {
  width: 100%;
}

.page-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sort-menu-container {
  margin: 20px;
  margin-left: 0px;
  padding: 20px;
  border-radius: 15px;
  height: 20px;
  background-color: rgb(30, 16, 75);
}

.sort-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.sort-menu li {
  margin: 0px 15px;
  cursor: pointer;
}

.sort-menu li i {
  margin: 0px 5px;
  cursor: pointer;
}

a:hover,
.sort-menu li:hover,
.sort-menu li i:hover {
  color: rgb(244, 81, 126);
}

.middle-box {
  width: 100%;
}

/* ------------- tooltip styling -------------- */
.tooltiptext {
  opacity: 0;
  transition: opacity 1s;
  font-size: 12px;
  width: 100px;
  text-align: left;
  background-color: rgb(42, 24, 108);
  border-radius: 8px;
  padding: 6px;
  line-height: 1.5em;
  position: absolute;
  z-index: 1;
}

/* tooltip arrow */
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(42, 24, 108);
}

/* positioning tooltips */
.bar-tooltip .tooltiptext {
  right: 92%;
  top: -175%;
}

/* positioning tooltips */
.line-tooltip .tooltiptext {
  top: -150%;
  right: 87%;
}

.bar-tooltip {
  right: 20%;
}

.chart-tooltip {
  height: 5px;
  width: 300px;
  position: absolute;
  z-index: 2;
}

.bottom-bar {
  height: 5px;
  width: 300px;
  position: absolute;
  z-index: 3;
  top: 500%;
}

.line-tooltip {
  right: 47%;
}

.bottom-bar:hover  ~ .tooltiptext,
.chart-tooltip:hover .tooltiptext {
  opacity: 1;
}


.bar-chart {
  margin: 20px;
  margin-left: 0px;
  padding: 20px;
  border-radius: 15px;
  height: 480px;
  background-color: rgb(30, 16, 75);
}

.bottom-charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-chart,
.table-container {
  background-color: rgb(30, 16, 75);
  margin: 0px 20px 20px 0px;
  padding: 20px;
  border-radius: 15px;
  height: 240px;
}

.line-chart {
  width: 55%;
  overflow: scroll;
}

.table-container {
  overflow: scroll;
  width: 35%;
}

table {
  font-size: 14px;
  border-collapse: collapse;
}

thead {
  background-color: rgb(42, 24, 108);
}

thead th:nth-child(1) {
  border-radius: 15px 0px 0px 0px;
}

thead th:nth-child(4) {
  border-radius: 0px 15px 0px 0px;
}

th,
td {
  padding: 6px;
  text-align: left;
  width: 25%;
}

/* tbody tr:hover {
  background-color: rgb(244, 81, 127);
} */

.sidebar {
  margin: 20px;
  width: 25%;
  margin-left: 0px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  background-color: rgb(30, 16, 75);
}

.avatar-container {
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
  background-color: rgb(42, 24, 108);
  border-radius: 100%;
  background-size: cover;
  background-position: 0px -190px;
  background-blend-mode: lighten;
  background-image: url(https://www.pngitem.com/pimgs/m/375-3757223_free-icon-download-people-avatar-icon-transparent-background.png);
  box-shadow: 5px -5px 8px rgba(244, 81, 127, 0.5),
  -5px 5px 8px rgba(0, 204, 187, 0.5);
}

.student-info {
  margin-bottom: 20px;
  line-height: 2.5rem;
}

.student-info p {
  opacity: 0.75;
}

.sidebar-chart {
  width: 80%;
}

.satisfaction-labels {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.satisfaction-labels .fas {
  color:rgb(244, 81, 126);
  background-color: rgba(244, 81, 127, 0.3);
  border-radius: 100%;
  box-shadow: 2px -2px 8px rgba(244, 81, 127, 0.3),
  -2px 2px 8px rgba(244, 81, 127, 0.3);
}

.satisfaction-labels .far {
  color: rgb(0, 204, 188);
  border-radius: 100%;
  background-color: rgba(0, 204, 187, 0.3);
  box-shadow: 2px -2px 8px rgba(0, 204, 187, 0.3),
  -2px 2px 8px rgba(0, 204, 187, 0.3);
  }